.header {
    height: 117vh;
    margin-top: 4.5rem;
    background-color: $white;
    background-image: url('../img/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}


.fondo__negro {
    background-color: $eerie-black;
}