.header__container {
  padding-top: 16.5rem;
  max-width: 710px;
}

.header__icono-flecha {
  margin-top: 12rem;
  width: 4rem;
}

@media (max-width:768px) {
  .header {
    margin-top: 3.4rem;
  }
  .header__title {
    font-size: $large-h1;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .header__container {
    padding-top: 12rem;
  }
  .header__title {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 8rem;
  }
  .header__icono-flecha {
    margin-top: 15.5rem;
    width: 3rem;
   
  }
} 

@media (max-width: 374px) {
  .header__container {
    padding-top: 16rem;
  }
  .header__icono-flecha {
    margin-top: 12rem;
    width: 3rem;
 
  }
}
