.header__container {
  padding-top: 16.5rem;
  max-width: 800px;
}

@media (max-width:768px) {
   .header__container {
    padding-top: 14rem;
    max-width: 600px;
   }
}

.header__title {
    color: $white;
    text-align: center;
}


.header__icono-flecha {
    margin-top: 11rem;
    text-align: center;
    width: 4rem;
}

@media (max-width:768px) {
    .header__icono-flecha {
     margin-top: 5rem;
     width: 4rem;
     
    }
 }
