.nav__container {
  .nav__logo { 
    width: 6.2rem;
}
}

.nav {
  background-color: $eerie-black !important;
  .nav-link {
    font-family: $roboto;
    font-size: $medium;
    font-weight: $light-3;
  }
  .nav__item-blog {
    color: $fuzzy-wuzzy !important;
    transition: all 1s ease;
    &:hover {
      color: $spanish-pink !important;
    }
  }
}

