.logo {
  .logo__image { 
    width: 7rem;
}
}

.nav {
  .nav-link {
    font-family: $roboto;
    font-size: $medium;
    font-weight: $light-3;
  }
  .nav__item-blog {
    color: $fuzzy-wuzzy;
    transition: all 0.5s ease;
    &:hover {
      color: $spanish-pink;
    }
  }
}

.nav__item-link {
  transition: all 0.5s ease;
  color: $white;
  &:hover {
    color: $light-gray;
  }
}